pandas
requests
numpy
redis
pyttsx3
prettytable
pymysql
pyecharts
django~=3.2.12
futu-api
ccxt~=2.7.12
baostock
TA-Lib
matplotlib
dbutils
tqdm
ipywidgets
tqsdk
apscheduler
polygon-api-client
alpaca-py
ib_insync
mytt
protobuf
tenacity
gm
qiniu
akshare
snapshot_selenium