{% extends 'charts/base.html' %}
{% load dict_extra %}

{% block options %}

{% endblock %}

{% block sidebar %}
{% endblock %}


{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
            <li class="active">
                <a data-toggle="tab" href="#a_1" aria-expanded="false">股票任务-1</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#a_2" aria-expanded="false">股票任务-2</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#hk" aria-expanded="false">港股任务</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#us" aria-expanded="false">美股任务</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#futures" aria-expanded="true">期货任务</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#currency" aria-expanded="true">数字货币任务</a>
            </li>
        </ul>

        <div class="tab-content">
            {% for task in task_names %}
                {% with config=task_configs|hash:task.task_name %}
                    <div id="{{ task.task_name }}" class="tab-pane {% if task.task_name == 'a_1' %}active{% endif %}">
                        <form class="form-horizontal task_config_form">
                            <input type="hidden" name="task_name" value="{{ task.task_name }}"/>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">开启</label>

                                <div class="col-sm-9">
                                    <label>
                                        <input name="is_run" class="ace ace-switch ace-switch-4 btn-rotate"
                                               type="checkbox" value="1"
                                               {% if config.is_run == '1' %}checked {% endif %}/>
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">间隔分钟数</label>

                                <div class="col-sm-9">
                                    <select class="form-control" name="interval_minutes">
                                        <option value="5" {% if config.interval_minutes == '5' %} selected {% endif %}>
                                            5m
                                        </option>
                                        <option value="15" {% if config.interval_minutes == '15' %}
                                                selected {% endif %}>
                                            15m
                                        </option>
                                        <option value="30" {% if config.interval_minutes == '30' %}
                                                selected {% endif %}>
                                            30m
                                        </option>
                                        <option value="60" {% if config.interval_minutes == '60' %}
                                                selected {% endif %}>
                                            60m
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">自选组</label>

                                <div class="col-sm-9">
                                    <select class="form-control" name="zixuan">
                                        {% for zx in config.zx_list %}
                                            <option value="{{ zx.name }}"
                                                    {% if config.zixuan == zx.name %}selected{% endif %}>{{ zx.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">检查周期</label>

                                <div class="col-sm-9">
                                    <input type="text" name="frequencys" value="{{ config.frequencys }}"
                                           class="col-xs-10 col-sm-5"/>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">英文逗号分割，例如：30m,5m</span>
											</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">检查笔背驰</label>

                                <div class="col-sm-9">
                                    <input type="text" name="check_beichi" value="{{ config.check_beichi }}"
                                           class="col-xs-10 col-sm-5"/>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">bi 笔背驰，pz 盘整背驰， ps 趋势背驰；英文逗号分割，例如：bi,pz,qs</span>
											</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">检查笔买卖点</label>

                                <div class="col-sm-9">
                                    <input type="text" name="check_mmd" value="{{ config.check_mmd }}"
                                           class="col-xs-10 col-sm-5"/>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">1buy 一买 1sell 一卖 等设置；英文逗号分割，例如：1buy,2buy,l2buy,1sell,3sell</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">检查线段背驰</label>

                                <div class="col-sm-9">
                                    <input type="text" name="check_beichi_xd" value="{{ config.check_beichi_xd }}"
                                           class="col-xs-10 col-sm-5"/>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">xd 线段背驰，pz 盘整背驰， ps 趋势背驰；英文逗号分割，例如：xd,pz,qs</span>
											</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">检查线段买卖点</label>

                                <div class="col-sm-9">
                                    <input type="text" name="check_mmd_xd" value="{{ config.check_mmd_xd }}"
                                           class="col-xs-10 col-sm-5"/>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">1buy 一买 1sell 一卖 等设置；英文逗号分割，例如：1buy,2buy,l2buy,1sell,3sell</span>
											</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">发送消息</label>

                                <div class="col-sm-9">
                                    <label>
                                        <input name="is_send_msg" class="ace ace-switch ace-switch-5" type="checkbox"
                                               value="1" {% if config.is_send_msg == '1' %} checked {% endif %}>
                                        <span class="lbl"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">缠论配置（分型）</label>

                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="fx_qj">
                                            <option value="fx_qj_k"
                                                    {% if config.fx_qj == 'fx_qj_k' %}selected{% endif %}>分型区间：原始K线高低点
                                            </option>
                                            <option value="fx_qj_ck"
                                                    {% if config.fx_qj == 'fx_qj_ck' %}selected{% endif %}>分型区间：缠论K线高低点
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="fx_bh">
                                            <option value="fx_bh_yes"
                                                    {% if config.fx_bh == 'fx_bh_yes' %}selected{% endif %}>分型包含：允许所有包含
                                            </option>
                                            <option value="fx_bh_dingdi"
                                                    {% if config.fx_bh == 'fx_bh_dingdi' %}selected{% endif %}>
                                                分型包含：顶不可以在底中
                                            </option>
                                            <option value="fx_bh_diding"
                                                    {% if config.fx_bh == 'fx_bh_diding' %}selected{% endif %}>
                                                分型包含：底不可以在顶中
                                            </option>
                                            <option value="fx_bh_no"
                                                    {% if config.fx_bh == 'fx_bh_no' %}selected{% endif %}>
                                                分型包含：不允许所有包含
                                            </option>
                                            <option value="fx_bh_no_qbh"
                                                    {% if config.fx_bh == 'fx_bh_no_qbh' %}selected{% endif %}>
                                                分型包含：不允许前分型包含后分型
                                            </option>
                                            <option value="fx_bh_no_hbq"
                                                    {% if config.fx_bh == 'fx_bh_no_hbq' %}selected{% endif %}>
                                                分型包含：不允许后分型包含前分型
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">缠论配置（笔）</label>

                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="bi_type">
                                            <option value="bi_type_old"
                                                    {% if config.bi_type == 'bi_type_old' %}selected{% endif %}>
                                                笔类型：老笔
                                            </option>
                                            <option value="bi_type_new"
                                                    {% if config.bi_type == 'bi_type_new' %}selected{% endif %}>
                                                笔类型：新笔
                                            </option>
                                            <option value="bi_type_jdb"
                                                    {% if config.bi_type == 'bi_type_jdb' %}selected{% endif %}>
                                                笔类型：简单笔
                                            </option>
                                            <option value="bi_type_dd"
                                                    {% if config.bi_type == 'bi_type_dd' %}selected{% endif %}>
                                                笔类型：顶底成笔
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="bi_bzh">
                                            <option value="bi_bzh_yes"
                                                    {% if config.bi_bzh == 'bi_bzh_yes' %}selected{% endif %}>
                                                笔标准化
                                            </option>
                                            <option value="bi_bzh_no"
                                                    {% if config.bi_bzh == 'bi_bzh_no' %}selected{% endif %}>
                                                笔非标准化
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="bi_fx_cgd">
                                            <option value="bi_fx_cgd_no"
                                                    {% if config.bi_fx_cgd == 'bi_fx_cgd_no' %}selected{% endif %}>
                                                后续分型次高底不成笔
                                            </option>
                                            <option value="bi_fx_cgd_yes"
                                                    {% if config.bi_fx_cgd == 'bi_fx_cgd_yes' %}selected{% endif %}>
                                                后续分型次高底成笔
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="bi_qj">
                                            <option value="bi_qj_k"
                                                    {% if config.bi_qj == 'bi_qj_k' %}selected{% endif %}>笔区间：原始K线最高最低
                                            </option>
                                            <option value="bi_qj_ck"
                                                    {% if config.bi_qj == 'bi_qj_ck' %}selected{% endif %}>
                                                笔区间：缠论K线最高最低
                                            </option>
                                            <option value="bi_qj_dd"
                                                    {% if config.bi_qj == 'bi_qj_dd' %}selected{% endif %}>笔区间：起始端点
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">缠论配置（线段）</label>

                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="xd_bzh">
                                            <option value="xd_bzh_no"
                                                    {% if config.xd_bzh == 'xd_bzh_no' %}selected{% endif %}>
                                                线段不进行标准化
                                            </option>
                                            <option value="xd_bzh_yes"
                                                    {% if config.xd_bzh == 'xd_bzh_yes' %}selected{% endif %}>
                                                线段标准化
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="xd_qj">
                                            <option value="xd_qj_k"
                                                    {% if config.xd_qj == 'xd_qj_k' %}selected{% endif %}>线段区间：原始K线最高最低
                                            </option>
                                            <option value="xd_qj_ck"
                                                    {% if config.xd_qj == 'xd_qj_ck' %}selected{% endif %}>
                                                线段区间：缠论K线最高最低
                                            </option>
                                            <option value="xd_qj_dd"
                                                    {% if config.xd_qj == 'xd_qj_dd' %}selected{% endif %}>线段区间：起始端点
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">缠论配置（走势类型）</label>

                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="zslx_bzh">
                                            <option value="zslx_bzh_no"
                                                    {% if config.zslx_bzh == 'zslx_bzh_no' %}selected{% endif %}>
                                                走势类型不进行标准化
                                            </option>
                                            <option value="zslx_bzh_yes"
                                                    {% if config.zslx_bzh == 'zslx_bzh_yes' %}selected{% endif %}>
                                                走势类型标准化
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="zslx_qj">
                                            <option value="zslx_qj_k"
                                                    {% if config.zslx_qj == 'zslx_qj_k' %}selected{% endif %}>
                                                走势类型区间：原始K线最高最低
                                            </option>
                                            <option value="zslx_qj_ck"
                                                    {% if config.zslx_qj == 'zslx_qj_ck' %}selected{% endif %}>
                                                走势类型区间：缠论K线最高最低
                                            </option>
                                            <option value="zslx_qj_dd"
                                                    {% if config.zslx_qj == 'zslx_qj_dd' %}selected{% endif %}>
                                                走势类型区间：起始端点
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">缠论配置（中枢）</label>

                                <div class="col-sm-9">
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="zs_bi_type">
                                            <option value="zs_type_bz"
                                                    {% if config.zs_bi_type == 'zs_type_bz' %}selected{% endif %}>
                                                笔中枢：标准中枢
                                            </option>
                                            <option value="zs_type_dn"
                                                    {% if config.zs_bi_type == 'zs_type_dn' %}selected{% endif %}>
                                                笔中枢：段内中枢
                                            </option>
                                            <option value="zs_type_fx"
                                                    {% if config.zs_bi_type == 'zs_type_fx' %}selected{% endif %}>
                                                笔中枢：方向中枢
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="zs_xd_type">
                                            <option value="zs_type_bz"
                                                    {% if config.zs_xd_type == 'zs_type_bz' %}selected{% endif %}>
                                                走势中枢：标准中枢
                                            </option>
                                            <option value="zs_type_dn"
                                                    {% if config.zs_xd_type == 'zs_type_dn' %}selected{% endif %}>
                                                走势中枢：段内中枢
                                            </option>
                                            <option value="zs_type_fx"
                                                    {% if config.zs_xd_type == 'zs_type_fx' %}selected{% endif %}>
                                                走势中枢：方向中枢
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="zs_qj">
                                            <option value="zs_qj_k"
                                                    {% if config.zs_qj == 'zs_qj_k' %}selected{% endif %}>
                                                中枢区间：原始K线高低点
                                            </option>
                                            <option value="zs_qj_ck"
                                                    {% if config.zs_qj == 'zs_qj_ck' %}selected{% endif %}>
                                                中枢区间：缠论K线高低点
                                            </option>
                                            <option value="zs_qj_dd"
                                                    {% if config.zs_qj == 'zs_qj_dd' %}selected{% endif %}>
                                                中枢区间：中枢元素的顶底端点
                                            </option>
                                        </select>
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <select class="form-control" style="height: auto;" name="zs_wzgx">
                                            <option value="zs_wzgx_zgd"
                                                    {% if config.zs_wzgx == 'zs_wzgx_zgd' %}selected{% endif %}>
                                                中枢位置关系：宽松比较(zg/zd)
                                            </option>
                                            <option value="zs_wzgx_zggdd"
                                                    {% if config.zs_wzgx == 'zs_wzgx_zggdd' %}selected{% endif %}>
                                                中枢位置关系：较为宽松(zg/dd zd/gg)
                                            </option>
                                            <option value="zs_wzgx_gd"
                                                    {% if config.zs_wzgx == 'zs_wzgx_gd' %}selected{% endif %}>
                                                中枢位置关系：严格比较(gg/dd)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">MACD 配置</label>

                                <div class="col-sm-9 form-inline">
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <label>快线</label>
                                        <input type="text" class="input-small" name="idx_macd_fast"
                                               value="{{ config.idx_macd_fast|default:'12' }}" placeholder="Fast">
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <label>慢线</label>
                                        <input type="text" class="input-small" name="idx_macd_slow"
                                               value="{{ config.idx_macd_slow|default:'26' }}" placeholder="Slow">
                                    </div>
                                    <div class="btn-group btn-group-xs btn-corner" role="group">
                                        <label>移动平均周期</label>
                                        <input type="text" class="input-small" name="idx_macd_signal"
                                               value="{{ config.idx_macd_signal|default:'9' }}" placeholder="Signal">
                                    </div>

                                </div>
                            </div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        保存
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(
            function () {
                $('.task_config_form').submit(function () {
                    var task_config = $(this).serialize();
                    $.ajax({
                        type: "POST",
                        url: "/tasks/save",
                        data: task_config,
                        dataType: 'json',
                        success: function (result) {
                            if (result['code'] === 200) {
                                alert('保存成功');
                            } else {
                                alert('保存失败')
                            }
                        }
                    });
                    return false
                });

            }
        );
    </script>
{% endblock %}